.sticker-container {
    display: flex;
    justify-content: center;
}

.sticker-container div {
    margin: 10px;
}

.sticker-container img {
    width: 100px; 
    height: 100px; 
}

.center-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}